#ata{ font-size: larger;
      font-style: oblique;
      text-decoration: underline;
      text-align: center;
    background-color: rgb(67, 65, 65);}
    #beta{ font-size: larger;
      font-style: oblique;
      text-decoration: underline;
      text-align: center;
    background-color: rgb(67, 65, 65);}
    #alfa{ font-size: larger;
      font-style: oblique;
      text-decoration: underline;
      text-align: center;
    background-color: rgb(67, 65, 65);}
    #gt{ font-size: larger;
      font-style: oblique;
      text-decoration: underline;
      text-align: center;
    background-color: rgb(67, 65, 65);}